<!--breadcrumbs start-->
<div id="breadcrumbs-wrapper">

    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">Ayuda</h5>
                <ol class="breadcrumbs">
                    <li><a href="">Menú de ayuda</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->


<!--start container-->
<div class="container">
    <style>
    </style>
    <div class="row">
        <div class="col s12 white" style="min-height: 200px;" id="polizaContainer">
            <h3>Observaciones</h3>
            <ol class="list-inline">
                <li>Todas las pantallas de carga del sistema tienen un funcionamiento idéntico en funcionalidad.</li>
                <li> El sistema esta dividido por años, por lo que debes tener claro a que ejercicio fiscal vas a trabajar.</li>
                <li>El campo de año en todas las pantallas esta cargado por defecto, por lo que no lo debes modificar.</li>
                <li>Los archivos de procesan en Excel y se cargan al sistema en formato TEXTO (delimitado por tabulaciones ) *.txt</li>
                <li>
                    Todos los archivos deben tener formatos idénticos, especialmente valores numéricos y fechas:
                    <ul>
                        <li>Formato numérico con dos decimales y sin comas de separación</li>
                        <li>Fecha: formato Ingles de Estados unidos el penúltimo del cuadro de dialogo.</li>
                    </ul>
                </li>
                <li>Todas las pantallas de carga tienen una previsualización para que te asegures que la información que vas a cargar es correcta, recomendamos enfáticamente que antes de pulsar el botos PROCESAR te Asegures es procedente.</li>
                <li>Todas las pantallas de consulta del sistema tienen al lado del titulo de la columna una flechas <i class="mdi-hardware-keyboard-arrow-down"></i><i class="mdi-hardware-keyboard-arrow-up"></i>    las que sirven para ordenar la información, y pueden ser usadas de forma indistinta entre números y texto. </li>
                <li>Cuando encuentres un campo de búsqueda en las pantallas del sistema, podrás utilizar esta función para buscar en TODOS los campos que se estén visualizando sin importar que sean numéricos o texto, la única limitante es que solo se puede buscar un tipo de dato a la vez.</li>
            </ol>                
        </div>
    </div>
    <hr>
    <div class="row">   
        <div class="col s12 white" style="min-height: 200px;" id="polizaContainer">
            <h3>Contenido de ayuda</h3>
            <p><i class="mdi-alert-warning"></i>Nota: Al hacer clic en algún título de la sección de ayuda se descargará un PDF a su máquina con información pertinente a la operación del módulo.</p>
            <ul class="collection">
                <li class="collection-item"><i class="mdi-action-view-headline"></i> <a href="/coesealy-conciliacion-cobranza/files/Catalogos.pdf" target="_blank" download>Catálogos</a>  <br>
                    <p>Todo relacionado a la carga y operación de los distintos catálogos de información del sistema.</p>
                </li>
                <li class="collection-item"><i class="mdi-av-equalizer"></i> <a href="/coesealy-conciliacion-cobranza/files/Balanzas.pdf" target="_blank" download>Balanzas</a> <br>
                    <p>Todo lo relacionado a la operación del módulo de balanzas.</p>
                </li>
                <li class="collection-item"><i class="mdi-content-content-copy"></i><a href="/coesealy-conciliacion-cobranza/files/Polizas.pdf" target="_blank" download>Pólizas</a><br>
                    <p>Todo lo relacionado a la operación del módulo de pólizas</p>
                </li>
                <li class="collection-item"><i class="mdi-av-queue"></i> <a href="/coesealy-conciliacion-cobranza/files/CFDIS.pdf" target="_blank" download>CFDIs</a> <br>
                    <p>Todo lo relacionado a la operación del módulo de CFDI's.</p>
                </li>
                <li class="collection-item"><i class="mdi-action-account-balance-wallet "></i> <a href="/coesealy-conciliacion-cobranza/files/EstadoDeCta.pdf" target="_blank" download>Estado de Cuenta</a> <br>
                    <p>Todo lo relacionado a la operación del módulo de Estado de Cuenta Bancario.</p>
                </li>
                <li class="collection-item"><i class="mdi-editor-insert-drive-file"></i> <a href="/coesealy-conciliacion-cobranza/files/OtrosProcesos.pdf" target="_blank" download>Otros procesos</a> <br>
                    <p>Todo lo relacionado a la operación de los submódulos de Payable Manbase, Check Register, Cuentas Por Cobrar e Importaciones.</p>
                </li>
                <li class="collection-item"><i class="mdi-notification-time-to-leave"></i> <a href="/coesealy-conciliacion-cobranza/files/GastosNoManbase.pdf" target="_blank" download>Gastos No Manbase</a> <br>
                    <p>Todo lo relacionado a la operación del módulo de Gastos No Manbase</p>
                </li>
            </ul>
        </div>
    </div>
</div>