<!--breadcrumbs start-->
<div id="breadcrumbs-wrapper">

    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">Consultar Armado</h5>
                <ol class="breadcrumbs">
                    <li></li>

                </ol>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->


<!--start container-->
<div class="container">
    <div class="row">
        <div class="col l3">
            <select id="mesConsulta">
                <option selected disabled>Selecciona mes de consulta</option>
                <option value='1' selected>01</option>
                <option value='2'>02</option>
                <option value='3'>03</option>
                <option value='4'>04</option>
                <option value='5'>05</option>
                <option value='6'>06</option>
                <option value='7'>07</option>
                <option value='8'>08</option>
                <option value='9'>09</option>
                <option value='10'>10</option>
                <option value='11'>11</option>
                <option value='12'>12</option>
            </select>
        </div>
        <div class="col l3">
            <select id="year">
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019" selected>2019</option>
                <option value="2020">2020</option>
            </select>
        </div>

        <div class="col l3">
            <br/>
            <button id="botonConsultar" style="width: 100%;" class="btn waves-effect waves-light " type="button"
                    onclick='consultarPendiente( $("#year").val(),$("#mesConsulta").val())'>Consultar</button>
        </div>
        <div class="col l3">
            <br/>
            <button id="botonActualizar" style="width: 100%;" class="btn waves-effect waves-light " type="button"
                    onclick='actualizar()'>Actualizar</button>
        </div>
    </div>

    <div class="row">
        <div id="progresoCfdiPendiente"></div>
        <table class="table" id="tablaCfdiPendiente">
            <thead>
            <tr>
                <th class='left-align'>#</th>
                <th>Select</th>
                <th>Id</th>
                <th>Folio</th>
                <th>Date</th>
                <th class='right-align'>Total</th>
                <th class='right-align'>Saldo</th>
                <th>UUID Receptor</th>
            </tr>
            </thead>
            <tbody id="tablaCfdiPendienteBody">
            </tbody>
        </table>
        <div id="msgDivCfdiPendiente"></div>

    </div>





</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/coesealy-conciliacion-cobranza/js/modules/consultarArmado.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $('select').material_select();

        });
    </script>
